<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../CSS/index.ejs") %>
    <link rel="stylesheet" href="../../../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News</title>
</head>
<body>

    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">CN Noticia Volei</a>
            <div>
                <a href="/Login%20CN/Entrar%20CN"><button class="Entrar">Login</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img class="MeuFeed" src="../../../../assets/images/3linhas.png"></a>
                <a href="/pagehome%20CN/">Meu Feed</a>
                <a href="/FeedEsportes/">Esportes</a>
                <a href="">Futebol</a>
                <a href="">Volei</a>
                <a href="">Basquete</a>
                <a href="">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>
    <section id="name-noticia">
        <div class="name-noticia">
            <a id="redirecionador-topicos" href="">Futebol-Esporte</a>
            <h1>Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</h1>
            <p>Como esta o processo escolarial dentre as escolas no Brasil?</p>
        </div>
    </section>
    <hr id="linha">
    <section id="noticia">
        <div class="noticias-materia">
            <p>O voleibol era um esporte de pouca valorização no Brasil até os anos 80, além de carregar a conotação de que se tratava de um esporte “para meninas”, enquanto o futebol seria a prática “dos meninos”.</p>
            <img src="../../../../assets/images/esporte/1130727101-vitoria-no-tie-break-garante-o-11-titulo-do-grand-prix-para-selecao-brasileira-de-volei-1024x682.jpg" alt="">
            <p>Essa marca do voleibol não surgiu aleatoriamente: ela nasceu como consequência de uma manifestação de pouco profissionalismo por parte dos professores de Educação Física: em vez de estruturar uma aula e trabalhar de modo sério com seus alunos, ainda hoje é bastante comum que os professores deem uma bola de voleibol para as meninas e uma de futebol para os meninos. Esse fato não apenas reporta a momentos em que a educação formal era dividida entre os sexos, mas também contribui para o preconceito em relação às atividades físicas. No entanto, esse perfil teve considerável mudança quando, nos jogos Olímpicos de Los Angeles, em 1984, a seleção masculina de voleibol brasileira conquistou o segundo lugar na competição. O time, que tinha Bebeto de Freitas como técnico, era composto por William, Xandó, Renan, Badalhoca, Montanaro, Bernardinho, Amauri e Bernard, jogador que criou o estilo de saque conhecido como “Jornada nas Estrelas”.</p>
            <p>A medalha de prata permitiu ao voleibol uma visibilidade nunca antes vista no Brasil. Nesse momento, muitas pessoas, de ambos os sexos, voltaram-se para a prática do voleibol, o que gerou muitas conquistas das seleções feminina e masculina.</p>
            <h2>História</h2>
            <p>O voleibol - ou vôlei - chegou no Brasil no ano de 1915. Não se sabe ao certo quem trouxe o esporte ao país, mas foi nesse ano que aconteceu a primeira partida de vôlei na cidade de Recife, Pernambuco. No entanto, o esporte, que hoje é muito difundido no país, somente começou a ganhar força em 1923. Isso porque nesse ano foi organizado o primeiro campeonato no Rio de Janeiro, sendo o Fluminense o primeiro clube brasileiro profissional criado.</p>
            <img src="../../../../assets/images/esporte/meninas volei.jpg" alt="">
        </div>
        <div class="noticias-outros">

        </div>
    </section>
</body>
</html>