<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../CSS/index.ejs") %>
    <link rel="stylesheet" href="../../../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News</title>
</head>
<body>

    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">CN Noticia Futebol</a>
            <div>
                <a href="/Login%20CN/Entrar%20CN"><button class="Entrar">Login</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img class="MeuFeed" src="../../../../assets/images/3linhas.png"></a>
                <a href="/pagehome%20CN/">Meu Feed</a>
                <a href="/FeedEsportes/">Esportes</a>
                <a href="">Futebol</a>
                <a href="">Volei</a>
                <a href="">Basquete</a>
                <a href="">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>
    <section id="name-noticia">
        <div class="name-noticia">
            <a id="redirecionador-topicos" href="">Futebol-Esporte</a>
            <h1>Casos emblemáticos no futebol brasileiro</h1>
            <p>Futebol, veja casos ocorridos no futebol brasileiro, um desastre</p>
        </div>
    </section>
    <hr id="linha">
    <section id="noticia">
        <div class="noticias-materia">
            <p>O futebol foi introduzido no Brasil no final do século XIX, por Charles Miller. Esse estudante paulista retornou da Inglaterra em 1894 e trouxe na bagagem diversos artigos, como bolas, uniformes e um livro com as regras estabelecidas. Por conta disso, Charles Miller é atualmente considerado o pai do esporte no Brasil.</p>
            <h2>2005 - Caso Desábato</h2>
            <p>O atleta argentino Leandro Desábato é detido ainda
            dentro de campo, após a partida entre Quilmes e São
            Paulo FC, em razão de injúria racial cometida contra o
            atacante Grafite.Depois de duas noites preso, o atleta retornou à
            Argentina após pagar fiança de R$ 10 mil. Em outubro de 2005, Grafite retirou a queixa contra
            Desábato e o caso foi encerrado.
            </p>
            <img src="../../../../assets/images/esporte/desabato_862x485.jpg" alt="">
            <p>O jogador brasileiro Baiano, na época atleta do Boca
                Juniors, revelou em 2020 que o caso Desábato foi
                indiretamente responsável pela sua breve história no
                clube argentino, com apenas 16 jogos.</p>
            <p>“Aquela situação entre Desábato e Grafite me
                prejudicou. Foi um mês muito complicado para mim,
                porque me chamavam de todos os lados para falar
                sobre este tema. (...) A situação me sufocava, estava
                muito nervoso, por isso pedi para ir”.</p>
            <p>“Os adversários usavam essa situação para me tirar
                do jogo, e meus companheiros naquele momento não
                me davam respaldo. Não estava muito forte
                psicologicamente para superar esse momento. Os
                rivais me diziam coisas muito feias, por um episódio
                que eu não tinha nada a ver.”</p>

            <h2>2005 - Caso Tinga</h2>
            <p>Em novembro de 2005, o Esporte Clube Juventude/RS
            foi o primeiro clube punido pela Justiça Desportiva
            brasileira por ato de racismo. O STJD, em decisão unânime, aplicou multa de R$
            200 mil e tirou o mando de campo de duas partidas
            da equipe de Caxias do Sul. Conforme relatou o árbitro na súmula da partida
            contra o Sport Club Internacional/RS, a torcida do
            Juventude 'imitava um macaco todas as vezes" que
            Tinga, volante do Inter, tocava na bola.</p>
            <img src="../../../../assets/images/esporte/tinga.jpg" alt="">

            <h2>2014 - Caso Aranha</h2>
            <p>Ato de racismo de torcedores do Grêmio/RS contra
                goleiro Aranha, do Santos/SP, ofendendo-o com
                xingamentos e imitações de sons de macacos. O STJD puniu o Grêmio/RS com a perda de 3 pontos e
                consequente eliminação da Copa do Brasil, além de
                multa no valor de RS 54 mil. “Quando gritaram "preto fedido" e "cambada de
                preto", eu tentei aguentar. Mas quando começou o
                corinho fazendo barulhos de macaco, eu não
                aguentei”, afirmou Aranha.</p>
            <img src="../../../../assets/images/esporte/aranha_capa2.jpg" alt="">
            <p>Anos depois, Aranha destacou: “Já ouvi várias vezes
                que estava me aproveitando da situação para me
                colocar como vítima. Em alguns casos, quem sofre
                injúria racial no Brasil é visto como culpado (...). Não
                vou [em programas esportivos] porque vão dizer que
                eu estou usando o tema do racismo para me
                promover. É uma inversão.” No lugar da pena de reclusão, a torcedora do Grêmio
                flagrada pela TV ofendendo Aranha aceitou se
                apresentar a uma delegacia antes dos jogos do clube
                em Porto Alegre durante 6 meses. Após ter sua casa atacada e sofrer ameaças nas redes
                sociais, a torcedora passou por tratamento
                psiquiátrico e buscou o anonimato.</p>
            <h2>2021 - Caso Celsinho</h2>
            <p>Em partida válida pelo Campeonato Brasileiro Série B,
                Celsinho, meia do Londrina/PR, foi ofendido pelo
                presidente do Conselho Deliberativo do Brusque/SC
                com as seguintes palavras: "vai cortar esse cabelo seu
                cachopa de abelha”.
                </p>
            <p>O STJD puniu o clube com a perda de 3 pontos na
                Série B, além de suspensão de 360 dias ao dirigente e
                multas de R$ 60.000,00 e 30.000,00,
                respectivamente.</p>
            <img src="../../../../assets/images/esporte/celcinho.jpg" alt="">
            <p>“O maior peso, onde realmente me machucou
                emocionalmente, foi pelo lado familiar, ver minha
                esposa chorando, meu filho chorando, meu filho mais
                novo sem entender e eu tendo que explicar que ele
                não tem que aceitar isso. É por isso que eu vou até o
                final nesses casos, justamente por isso, por mexer
                com meu lado familiar. Em nenhum momento eu vou
                ao estádio pedir que as pessoas me insultem. O tom
                que ele usou foi de raiva, mas o que me incomodou
                mais foi que ele se sentiu muito confortável em falar
                isso, como se de fato ele tivesse atingido o que
                queria, como se fosse algo prazeroso e conseguiu,
                porque eu fiquei fora de mim” – disse o jogador.
                </p>
        </div>
        <div class="noticias-outros">

        </div>
    </section>
</body>
</html>