<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style.ejs") %>
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News</title>
</head>
<body>
    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">Charlita News</a>
            <div>
                <a href="../Login%20CN/Entrar%20CN"><button class="Entrar">Entrar</button></a>
                <a href="../Login%20CN/cadastro%20CN"><button class="Entrar">Cadastro</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img src="../../assets/images/3linhas.png" alt=""></a>
                <a href="../pagehome%20CN">Meu Feed</a>
                <a href="../FeedEsportes">Esportes</a>
                <a href="../FeedCultura">Cultura</a>
                <a href="../FeedDiversos">Diversos</a>
                <a href="../FeedEconomia">Economia</a>
                <a href="../FeedTV">TV</a>
                <a href="../FeedJogar">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>

    

    <section id="feed">
        <div class="feed-conteudo">

            <div class="feed-conteudo-left">
                <div class="noticias-t1-01">
                    <a id="redirecionador-topicos" href="">Futebol</a>
                    <a class="noticias-t1-titulo" href="../FeedEconomia">Um careca é visto comprando uma simples maça e é baleado por estar ofuscando a visão dos demais</a>
                </div>
            </div>

            <div class="feed-conteudo-right">
            
                <div class="noticia-t2-left01">
                    <div class="noticia-t2-img01"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/Noticia1-Esporte">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
                <div class="noticia-t2-right02">
                    <div class="noticia-t2-img02"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEconomia">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="feed-conteudo">

            <div class="feed-conteudo-left">
                <div class="noticia-t2-left03">
                    <div class="noticia-t2-img03"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEconomia">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
                <div class="noticia-t2-right04">
                    <div class="noticia-t2-img04"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEconomia">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
            </div>

            <div class="feed-conteudo-right">
                <div class="noticias-t1-02">
                    <a id="redirecionador-topicos" href="">Futebol</a>
                    <a class="noticias-t1-titulo" href="../FeedEconomia">Um careca é visto comprando uma simples maça e é baleado por estar ofuscando a visão dos demais</a>
                </div>
            </div>

        </div>
        <div class="feed-conteudo">
            <div class="feed-conteudo-left">
                <div class="noticia-t2-left05">
                    <div class="noticia-t2-img05"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEconomia">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
                <div class="noticia-t2-right06">
                    <div class="noticia-t2-img06"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEconomia">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
            </div>
            <div class="feed-conteudo-right">
                <div class="noticia-t2-left07">
                    <div class="noticia-t2-img07"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEconomia">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
                <div class="noticia-t2-right08">
                    <div class="noticia-t2-img08"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="noticias-t2-titulo" href="../FeedEconomia">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="feed-conteudo">
            <div class="feed-conteudo-left">
                <div class="noticias-t1-03">
                    <a id="redirecionador-topicos" href="">Futebol</a>
                    <a class="noticias-t1-titulo" href="../FeedEconomia">Um careca é visto comprando uma simples maça e é baleado por estar ofuscando a visão dos demais</a>
                </div>
            </div>
            <div class="feed-conteudo-right">
                <div class="noticias-t1-04">
                    <a id="redirecionador-topicos" href="">Futebol</a>
                    <a class="noticias-t1-titulo" href="../FeedEconomia">Um careca é visto comprando uma simples maça e é baleado por estar ofuscando a visão dos demais</a>
                </div>
            </div>
        </div>
        


        
    </section>
</body>
</html>