<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style.ejs") %>
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News ! Esportes</title>
</head>
<body>

    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">Charlita News ! Esportes</a>
            <div>
                <a href="../Login%20CN/Entrar CN/"><button class="Entrar">Login</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img class="MeuFeed" src="../../assets/images/3linhas.png"></a>
                <a href="../pagehome%20CN">Meu Feed</a>
                <a href="../FeedEsportes">Esportes</a>
                <a href="">Futebol</a>
                <a href="">Volei</a>
                <a href="">Basquete</a>
                <a href="../FeedJogar">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>

    <section id="feed">    
        <div class="feed">
            <div class="feed-conteudo-3">
                <div class="noticia-t2-01">
                    <div class="noticia-t2-img01"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Volei</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/Noticia1-Esporte/ ">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
                <div class="noticia-t2-02">
                    <div class="noticia-t2-img02"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Jiu-Jitsu</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/JiuJitsu-Esporte/ ">Jiu-Jitsu, arte marcial japonesa que utiliza diferentes técnicas e golpes corporais para derrotar ou imobilizar o oponente</a>
                    </div>
                </div>
                <div class="noticia-t2-03">
                    <div class="noticia-t2-img03"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Volei</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/VoleiEscolas-Esporte/ ">Como esta o Volei nas Escolas? alguns especialistas foram atras da resposta</a>
                    </div>
                </div>
            </div>

            <div class="feed-conteudo-2">
                <div class="noticias-t1-01">
                    <a id="redirecionador-topicos" href="">Futebol</a>
                    <a class="noticias-t1-titulo" href="../FeedEsportes/Noticias-Esportes/FutCasosEmblematicosInter-Esporte/ ">Casos emblemáticos de racismo no futebol internacional</a>
                </div>
                <div class="noticia-t2-04">
                    <div class="noticia-t2-img04"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/FutCasosEmblematicos-Esporte/ ">Casos emblemáticos no futebol brasileiro, ocorridos de racismo em jogadores brasileiros</a>
                    </div>
                </div>
            </div>

            <div class="feed-conteudo-3">
                <div class="noticia-t2-05">
                    <div class="noticia-t2-img05"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Volei</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/VoleiLigaNacoes-Esporte/ ">Liga das Nações do Volei 2023, confira o calendáriode jogos que ocorreram brevemente</a>
                    </div>
                </div>
                <div class="noticia-t2-06">
                    <div class="noticia-t2-img06"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/FutCasaDeApostas-Esporte/ ">Caso de Bauermann e a manipulação que causa dentro do Futebol</a>
                    </div>
                </div>
                <div class="noticia-t2-07">
                    <div class="noticia-t2-img07"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Jiu-Jitsu</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/JiuJitsuMundo-Esporte/ ">Mundo do MMA em luto após morte de Elias Theodorou: veja repercussão</a>
                    </div>
                </div>
            </div>

            <div class="feed-conteudo-2">
                <div class="noticia-t2-08">
                    <div class="noticia-t2-img08"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="http://127.0.0.1:5500/src/pages/FeedEsportes/Noticias-Esportes/FutebolEsquemadeApostas-Esporte/index.html">Revelado o maior esquema de manipulação de jogos do país: Operação Penalidade Máxima</a>
                    </div>
                </div>
                <div class="noticia-t1-02">
                    <a id="redirecionador-topicos" href="">Basquete</a>
                    <a class="noticias-t1-titulo" href="/FeedEsportes/Noticias-Esportes/BasqueteReportagem-Esporte/index.html">Aumento de interesse dos demais alunos do Charlita por basquete</a>
                </div>
            </div>
        </div>
       
    </section>

    <%- include('../chat.ejs') %>
