<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../CSS/index.ejs") %>
    <link rel="stylesheet" href="../../../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News</title>
</head>
<body>

    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">CN Noticia Volei</a>
            <div>
                <a href="/Login%20CN/Entrar%20CN"><button class="Entrar">Login</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img class="MeuFeed" src="../../../../assets/images/3linhas.png"></a>
                <a href="/pagehome%20CN/">Meu Feed</a>
                <a href="/FeedEsportes/">Esportes</a>
                <a href="">Futebol</a>
                <a href="">Volei</a>
                <a href="">Basquete</a>
                <a href="">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>
    <section id="name-noticia">
        <div class="name-noticia">
            <a id="redirecionador-topicos" href="">Volei-Esporte</a>
            <h1>Como esta o Volei nas Escolas? alguns especialistas foram atras da resposta</h1>
            <p>Como esta o processo escolarial dentre as escolas no Brasil?</p>
        </div>
    </section>
    <hr id="linha">
    <section id="noticia">
        <div class="noticias-materia">
            <p>O voleibol é uma modalidade desportiva que explora diversos movimentos corporais, podendo não só auxiliar no desenvolvimento motor de seus praticantes quanto no fortalecimento da auto-estima, cooperativismo, disciplina, organização e sendo também um meio de socialização entre os alunos de diferentes gêneros.</p>
            <p>Criado por volta de 1895, o voleibol é hoje um dos esportes mais praticados no mundo. O objetivo do estudo foi buscar informações a respeito desta modalidade no ensino fundamental, podendo ser trabalhada de várias maneiras, dependendo do local, público e dos objetivos que o profissional visa atingir com tal prática.</p>
            <img src="../../../../assets/images/esporte/quadraescolaqualquer.jpg" alt="">
            <p>Esta modalidade desportiva pode desenvolver em seus praticantes o gosto pela competição, mas, no contexto escolar, pode ser um instrumento para a educação por meio do esporte, incentivando nos alunos o desejo pelo jogo, por isso a importância de se ensinar corretamente o sentido do jogo e o conceito da competição.</p>
        </div>
        <div class="noticias-outros">

        </div>
    </section>
</body>
</html>