<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style.ejs") %>
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News ! Cultura</title>
</head>
<body>

    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">Charlita News ! Cultura</a>
            <div>
                <a href="../login%20CN/ "><button class="Entrar">Login</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img class="MeuFeed" src="../../assets/images/3linhas.png"></a>
                <a href="../pagehome%20CN/">Meu Feed</a>
                <a href="../FeedCultura/">Cultura</a>
                <a href="../FeedEsportes/">Brasil</a>
                <a href="../FeedDiversos/">Novidade</a>
                <a href="../FeedEconomia/">DOidera</a>
                <a href="">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>

    <section id="feed">    
        <div class="feed">
            <div class="feed-conteudo-3">
                <div class="noticia-t2-01">
                    <div class="noticia-t2-img01"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Volei</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/Noticia1-Esporte/">Volei no Brasil, a escola Irma Charlita foi analisada por profissonais da area, veja materia</a>
                    </div>
                </div>
                <div class="noticia-t2-02">
                    <div class="noticia-t2-img02"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Jiu-Jitsu</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/JiuJitsu-Esporte/">Jiu-Jitsu, arte marcial japonesa que utiliza diferentes técnicas e golpes corporais para derrotar ou imobilizar o oponente</a>
                    </div>
                </div>
                <div class="noticia-t2-03">
                    <div class="noticia-t2-img03"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Volei</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/VoleiEscolas-Esporte/">Como esta o Volei nas Escolas? alguns especialistas foram atras da resposta</a>
                    </div>
                </div>
            </div>
            <div class="feed-conteudo-2">
                <div class="noticias-t1-01">
                    <a id="redirecionador-topicos" href="">Futebol</a>
                    <a class="noticias-t1-titulo" href="../FeedEsportes/Noticias-Esportes/FutCasosEmblematicosInter-Esporte/">Casos emblemáticos de racismo no futebol internacional</a>
                </div>
                <div class="noticia-t2-04">
                    <div class="noticia-t2-img04"></div>
                    <div class="noticia-t2-conteudo">
                        <div class="noticia-t2-conteudo-t">
                            <img src="../../assets/images/Futebol-Bola-de-Futebol-PNG.png">
                            <a id="redirecionador-noticias" href="">Futebol</a>
                            <h2>Há 15h</h2>
                        </div>
                        <a class="notcias-t2-titulo" href="../FeedEsportes/Noticias-Esportes/FutCasosEmblematicos-Esporte/">Casos emblemáticos no futebol brasileiro, ocorridos de racismo em jogadores brasileiros</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../chat.ejs') %>