<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../CSS/index.ejs") %>
    <link rel="stylesheet" href="../../../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News</title>
</head>
<body>

    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">CN Noticia Volei</a>
            <div>
                <a href="/Login%20CN/Entrar%20CN"><button class="Entrar">Login</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img class="MeuFeed" src="../../../../assets/images/3linhas.png"></a>
                <a href="/pagehome%20CN/">Meu Feed</a>
                <a href="/FeedEsportes/">Esportes</a>
                <a href="">Futebol</a>
                <a href="">Volei</a>
                <a href="">Basquete</a>
                <a href="">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>
    <section id="name-noticia">
        <div class="name-noticia">
            <a id="redirecionador-topicos" href="">Volei-Esporte</a>
            <h1>Liga das Nações do Volei 2023, confira tudo sobre</h1>
            <p>Como esta o processo escolarial dentre as escolas no Brasil?</p>
        </div>
    </section>
    <hr id="linha">
    <section id="noticia">
        <div class="noticias-materia">
            <p>Seleções brasileiras buscam o título da competição anual, que revela jogadores e ajusta os times para o Pré-Olímpico no segundo semestre. Veja as datas, horários e adversários das equipes.</p>
            <p>A Liga das Nações de Vôlei (VNL) já definiu seu calendário completo para a temporada 2023, no masculino e no feminino. A seleção masculina tentará replicar o título de 2021, enquanto a feminina ainda busca o primeiro troféu, após três vice-campeonatos seguidos (2019, 2021 e 2022).</p>
            <img src="../../../../assets/images/esporte/timenascoesunidasvoleifeminino.jpg" alt="">
            <p>A competição anual é uma maneira das equipes se entrosarem e testarem novos jogadores e formações. Neste ano, servirá de preparação para o Pré-Olímpico, que acontece em setembro no feminino e no final de setembro e começo de outubro no masculino.</p>
            <p>A VNL 2023 terá 16 equipes por gênero, ranqueadas de acordo com a lista da FIVB (Federação Internacional de Voleibol). Cada equipe joga 12 partidas: três contra times de 1 a 4 no ranking, três contra times de 5 a 8, três diante de seleções de 9 a 12 e mais três contra times de 13 a 16.</p>
            <p>As oito melhores equipes avançam à fase final eliminatória, que começa com as quartas de final. Os anfitriões das fase final (Polônia no masculino e EUA no feminino) terão vagas garantidas no mata-mata.</p>
            <h2>Confira abaixo os jogos das seleções feminina e masculina do Brasil na VNL 2023.</h2>
            <p>Liga das Nações (VNL) feminina 2023 - Jogos do Brasil
                Horário de Brasília.</p>
            <p>31 de maio - República Popular da China x Brasil - 6:00 - Nagoya, Japão<br>
                1 de junho - Brasil x Países Baixos - 6:00 - Nagoya, Japão<br>
                3 de junho - Brasil x República Dominicana - 0:40 - Nagoya, Japão<br>
                4 de junho - Croácia x Brasil - 0:40 - Nagoya, Japão<br>
                14 de junho - Brasil x República da Coreia - 21:00 - Brasília<br>
                15 de junho - Brasil x Sérvia - 21:00 - Brasília<br>
                17 de junho - Brasil x Alemanha - 14:00 - Brasília<br>
                18 de junho - Brasil x EUA - 10:00 - Brasília<br>
                28 de junho - Brasil x Itália - 10:30 - Bangcoc, Tailândia<br>
                29 de junho - Brasil x Canadá - 7:00 - Bangcoc, Tailândia<br>
                30 de junho - Brasil x Turquia - 10:30 - Bangcoc, Tailândia<br>
                2 de julho - Tailândia x Brasil - 10:30 - Bangcoc, Tailândia<br>
                Fase final: Arlington, EUA, de 12 a 16 de julho.</p>
            <h2>Liga das Nações (VNL) masculina 2023 - Jogos do Brasil
                Horário de Brasília.</h2>
            <p>7 de junho - Brasil x Alemanha - 21:00 - Ottawa, Canadá<br>
                8 de junho - Argentina x Brasil - 21:00 - Ottawa, Canadá<br>
                10 de junho - Brasil x Cuba - 17:30 - Ottawa, Canadá<br>
                11 de junho - EUA x Brasil - 15:30 - Ottawa, Canadá<br>
                20 de junho - Brasil x Bulgária - 15:30 - Orléans, França<br>
                22 de junho - Japão x Brasil - 8:00 - Orléans, França<br>
                24 de junho - Brasil x Eslovênia - 12:00 - Orléans, França<br>
                25 de junho - Brasil x França - 17:00 - Orléans, França<br>
                4 de julho - Brasil x Itália - 0:00 - Pasay, Filipinas<br>
                6 de julho - Brasil x Países Baixos - 0:00 - Pasay, Filipinas<br>
                7 de julho - Polônia x Brasil - 0:00 - Pasay, Filipinas<br>
                8 de julho - Brasil x República Popular da China - 0:00 - Pasay, Filipinas<br>
                Fase final: Gdansk, Polônia, de 19 a 23 de julho.</p>
        </div>
        <div class="noticias-outros">

        </div>
    </section>
</body>
</html>