<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style.ejs") %>
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="../../common/fonts.css">
    <title>Charlita News</title>
</head>
<body>

    <nav id="MeuFeed">
        <div class="CharlitaNews">
            <a href="">Charlita News TV</a>
            <div>
                <a href="../login%20CN/ "><button class="Entrar">Login</button></a>
            </div>
        </div>
        <div class="MeuFeedTopicos">
            <div class="MeuFeedTopicos-temas">
                <a href=""><img src="../../assets/images/3linhas.png" alt=""></a>
                <a href="../pagehome%20CN">Meu Feed</a>
                <a href="../FeedEsportes">Esportes</a>
                <a href="../FeedCultura">Cultura</a>
                <a href="../FeedDiversos">Diversos</a>
                <a href="../FeedEconomia">Economia</a>
                <a href="../FeedTV">TV</a>
                <a href="../FeedJogar">Jogar</a>
                <a href="">Tempo</a>
            </div>
        </div>
    </nav>




    <section id="feed">
        <div id="videos-conteudo">
            <div class="video-conteudo-left">
                <div class="video-conteudo-video">
                    <iframe src="https://www.youtube.com/watch?v=y_CZGlQgKg4" frameborder="0"></iframe>
                </div>
                <div class="video-conteudo-conteudo">
                    <h1 class="video-conteudo-titulo">Racismo no Brasil, veja materia completa clicando aqui</h1>
                </div>
            </div>
            <div class="video-conteudo-right">
                <div class="video-conteudo-video">
                    <iframe src="https://www.youtube.com/watch?v=y_CZGlQgKg4" frameborder="0"></iframe>
                </div>
                <div class="video-conteudo-conteudo">
                    <h1 class="video-conteudo-titulo">Racismo no Brasil, veja materia completa clicando aqui</h1>
                </div>
            </div>
        </div>
        <div id="videos-conteudo">
            <div class="video-conteudo-left">
                <div class="video-conteudo-video">
                    <iframe src="https://www.youtube.com/watch?v=y_CZGlQgKg4" frameborder="0"></iframe>
                </div>
                <div class="video-conteudo-conteudo">
                    <h1 class="video-conteudo-titulo">Racismo no Brasil, veja materia completa clicando aqui</h1>
                </div>
            </div>
            <div class="video-conteudo-right">
                <div class="video-conteudo-video">
                    <iframe src="https://www.youtube.com/watch?v=y_CZGlQgKg4" frameborder="0"></iframe>
                </div>
                <div class="video-conteudo-conteudo">
                    <h1 class="video-conteudo-titulo">Racismo no Brasil, veja materia completa clicando aqui</h1>
                </div>
            </div>
        </div>
        <div id="videos-conteudo">
            <div class="video-conteudo-left">
                <div class="video-conteudo-video">
                    <iframe src="https://www.youtube.com/watch?v=y_CZGlQgKg4" frameborder="0"></iframe>
                </div>
                <div class="video-conteudo-conteudo">
                    <h1 class="video-conteudo-titulo">Racismo no Brasil, veja materia completa clicando aqui</h1>
                </div>
            </div>
            <div class="video-conteudo-right">
                <div class="video-conteudo-video">
                    <iframe src="https://www.youtube.com/watch?v=y_CZGlQgKg4" frameborder="0"></iframe>
                </div>
                <div class="video-conteudo-conteudo">
                    <h1 class="video-conteudo-titulo">Racismo no Brasil, veja materia completa clicando aqui</h1>
                </div>
            </div>
        </div>
    </section>
</body>
</html>